.jump-in:local{
  animation: ease-in 0.2s reverse both running slidein;
}

.jump-out:local{
  animation: ease-in 0.2s reverse both running slideout;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideout {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}